body,html {
    background-color: rgb(163, 241, 215);
    font-family: 'Muli', sans-serif;
}

#content-wrapper{ 
    width:960px;
    margin:0 auto; 
    
}

img {
display: block;
margin:0 auto;
border:5px solid rgb(21, 99, 99);
}

h1 {
text-align: center;
}

.intro {
    color: rgb(28, 88, 68);
    text-align: center;
}

ul.icons {
    width: 300px;
    display: block;
    margin: 0 auto;
}

ul.icons > li {
    display: inline;
    margin: 0 5px 0 5px;
    
}

.caption {
    text-align: center
}